*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Styling */

nav{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 200px;
    justify-content: space-between;
    align-items: center;
}

.primary-text{
    color: #FD6E0A;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 50px;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #000;
}